<template>
<div>  
    <h2>Find the coach</h2>

    <span>
        <input type="checkbox" id="frontend" checked @change="setFilter" />
        <label for="frontend">Frontend</label>
    </span>

    <span>
          <input type="checkbox" id="backend" checked @change="setFilter"  />
        <label for="backend">Backend</label>

    </span>
    <span>
        <input type="checkbox" id="career" checked @change="setFilter"  />
        <label for="career">Career</label>
    </span>

</div>

</template>

<script>
export default {
    emits:['change-filter'],
    data () {
        return{
            filteres:{
                frontend:true,
                backend:true,
                career:true,
            }
        }
    },
    methods: {
        setFilter(event){
            const inputId = event.target.id;
            const isActive = event.target.checked;
            const updatedFilters = {
                ...this.filteres,
                [inputId]:isActive
            };
            
            console.log(inputId,isActive)
            console.log('dict',updatedFilters)
            this.filteres = updatedFilters;
            this.$emit('change-filter', updatedFilters)
        }

    }

}
</script>

<style>

</style>