<template>
  <li>
      <h3> {{ fullName }} </h3>
      <h4>${{ rate }}/hr</h4>
      <div>

          <span v-for="area in areas" :key="area" >{{ area }} </span>

      </div>

      <div class="actions">
        <h2>Interested? Reach out now </h2>
        <router-link style="padding:10px" :to="coachContactLink">Contact</router-link> 
        <router-link  :to="{ path: '/coaches/'+this.id, params: { id:this.id}}"     >Details</router-link>
      </div>
    
  </li>
</template>

<script>
export default {
  props: ['firstname','lastname','rate','areas','id'],
  computed:{  
    fullName(){
      return this.firstname +' '+this.lastname
    },
    coachContactLink(){
      return '/coaches/'+ this.id +'/contact'
    },
    // coachDetailLink(){
    //   return '/coaches/' + this.id
    // }

  }




}
</script>

<style>

</style>