<template>
  <div>
    <section>
     
      <header>
        <h2>Requests Received</h2>
      </header>

        <ul v-if="hasRequests">
          <request-item
            v-for="req in receivedRequests"
            :key="req.id"
            :email="req.userEmail"
            :message="req.message"
          ></request-item>
        </ul>
        <h3 v-else>You haven't received any requests yet!</h3>
      
    </section>
  </div>
</template>

<script>
import RequestItem from '../../views/requests/RequestItem.vue'

export default {
  components: {
    RequestItem,
  },
  data() {
    return {
      isLoading: false,
      error: null,
    };
  },
  computed: {
    receivedRequests() {
      return this.$store.getters.requests;
    },
    hasRequests() {
      return this.$store.getters.hasRequests;
    },
  },
  created() {
    this.loadRequests();
  },
  methods: {
    
    async loadRequests() {
      
      try {
        await this.$store.dispatch('fetchRequests');
      } catch (error) {
        this.error = error.message || 'Something failed!';
      }
    
    },
   
  },
};
</script>

<style scoped>
header {
  text-align: center;
}

ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  max-width: 30rem;
}

h3 {
  text-align: center;
}
</style>