<template>
  <div id="app">
    <div id="nav">
      <the-header></the-header>
    </div>
    <router-view/>
  </div>
</template>

<script>
import TheHeader from './components/headerlayout/HeaderLayout.vue';
export default {

  components: {
    'the-header':TheHeader,
  }
  




}
</script>

<style>

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

</style>
