<template>
  <div>
    <section>
   
     <h1> {{ fullname }} </h1>
     <h3> {{rate }} </h3>

    
    </section>    
    <router-view></router-view>
    <h1>Interested? Reach out now!</h1>
    <router-link to="/coaches/c1/contact" >Contact</router-link>

     <span v-for="area in areas" :key="area"> {{area}} </span>
     <p> {{description}}</p>

   
  </div>
</template>

<script>
export default {

  computed: {
    fullname(){
      return this.selectedCoach.firstName + ' ' + this.selectedCoach.lastName ;
    },
    areas(){
      return this.selectedCoach.areas;
    },
    rate(){
      return this.selectedCoach.hourlyrate;   
    },
    description(){
      return this.selectedCoach.description;
    }

  },
  data(){
    return{
    
    id:this.$route.params.id,
    selectedCoach:null,

    }
  },
  created(){
    
    const coachList = this.$store.getters.coaches
    console.log(this.id)

    for(const coach in  coachList){
      console.log(coachList[coach].id,this.id)

      if(coachList[coach].id === this.id){
        this.selectedCoach = coachList[coach]
        console.log(this.selectedCoach.firstName)
      }
    }
     
  }

}
</script>

<style>

</style>