<template>
<div class="bg-white">
    <section>
  
        <coach-filter @change-filter="setFilters"></coach-filter>
       
    </section>

    <section>
        <div class="controls">
           <!-- <button>Refresh</button> -->
           <router-link to="/register" >Register as Coach</router-link> 

        </div>
        <ul v-if="hasCoaches">
           
            <coach-item 
            v-for="coach in filteredCoaches"
            :key = "coach.id"
            :id = "coach.id"
            :firstname="coach.firstName"
            :lastname="coach.lastName"
            :rate="coach.hourlyRate"
            :areas="coach.areas"
            >

            </coach-item>
            
        </ul>
        <h1 v-else>Has no coaches</h1>
            
    </section>

</div>
  
</template>

<script>
import CoachItem from '../../views/coaches/coachesItem.vue';
import CoachFilter from '../../views/coaches/CoachFilter.vue';

export default {
components:{
    CoachItem,
    CoachFilter,
},
computed:{
    filteredCoaches(){
        // return this.$store.getters.coaches
        const coaches = this.$store.getters.coaches
        
        console.log(coaches)

        return coaches.filter(coach=>{
          if(this.activeFilters.frontend && coach.areas.includes('frontend'))  {
              return true;
          }
           if(this.activeFilters.backend && coach.areas.includes('backend'))  {
              return true;
          }
           if(this.activeFilters.career && coach.areas.includes('career'))  {
              return true;
          }
          return false;
        })
    },
    hasCoaches(){
        return this.$store.getters.hasCoaches
    }
},
data(){
    return {
        activeFilters:{
            frontend:true,
            backend:true,
            career:true,
        }
    }
},
methods:{
    setFilters(updatedFilters) {
        this.activeFilters = updatedFilters
    },
  
   loadCoaches(){
       this.$store.commit('loadCoaches')
    }

},

created() {
    this.loadCoaches();
    console.log("coaches",this.$store.getters.coaches)
}

}
</script>

<style>

</style>